<footer>
    <div class="text-center p-3 mt-3" style="background-color: rgba(0, 0, 0, 0.3);">
        &copy; Copyright : 
        <span class="text-secondary text-muted">Blog Web App</span>
    </div>
</footer>
</body>
</html>