<%- include("components/Header.ejs") %> <%- include("components/Navbar.ejs")%>
<h3>About page</h3>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolorem placeat
  fuga vero dolore voluptatibus pariatur officiis earum sequi veritatis
  similique, est consectetur id laboriosam aperiam voluptatem aut iusto dolores.
</p>
<h3>Directions</h3>
<p>Near Satara bus stand, Satara, Maharashtra</p>
<%- include("components/Footer.ejs") %>
