<%- include("components/Header.ejs") %> <%- include("components/Navbar.ejs")%>

<div class="container my-5">
    <div class="card w-100 mx-auto my-2">
      <div class="card-body">
        <h3 class="card-title text-center">Categories</h3>
        <p class="card-text text-center">
          Explore our diverse range of categories. Find articles that interest you
          the most!
        </p>
  
        <div class="row mt-4">
          <div class="col-md-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Technology</h5>
                <p class="card-text">
                  Latest trends and insights in the tech world.
                </p>
                <a href="#" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Lifestyle</h5>
                <p class="card-text">Tips and advice for a better life.</p>
                <a href="#" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Travel</h5>
                <p class="card-text">Discover new places and adventures.</p>
                <a href="#" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-md-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Health</h5>
                <p class="card-text">Wellness tips for a healthier lifestyle.</p>
                <a href="#" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Food</h5>
                <p class="card-text">
                  Delicious recipes and culinary adventures.
                </p>
                <a href="#" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card text-center">
              <div class="card-body">
                <h5 class="card-title">Fashion</h5>
                <p class="card-text">Trends and tips in the world of fashion.</p>
                <a href="#" class="btn btn-primary">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<%- include("components/Footer.ejs") %>
