<%- include("components/Header.ejs") %> <%- include("components/Navbar.ejs")%>
<h3>Contact page</h3>
<p>Mobile number : 1234567890</p>
<p>Email : sample@demo.com</p>
<%- include("components/Footer.ejs") %>
