<%- include("components/Header.ejs") %> <%- include("components/Navbar.ejs")%>
<h3>Sample text</h3>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui omnis fugiat
  sapiente minus quisquam sequi consequatur ullam ad temporibus iure officiis,
  itaque assumenda iusto facere tenetur non facilis autem recusandae.
</p>
<h3>Sample text2</h3>
<p>
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cumque,
  quae facere, itaque voluptatibus autem, non ullam rem nisi amet quas
  explicabo? Ipsam facere repellat, explicabo blanditiis ipsa sequi excepturi.
</p>
<img src="HealthyLivingTips.jpg" alt="" height="800px" width="1200px" />

<%- include("components/Footer.ejs") %>
